<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!--    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">-->
</head>
<body>
<div class="col-xs-12 divider text-center">
    <h1>Welcome to the club, clown</h1>

<div class="jumbotron mt-3">
    <h1>Choose your clown</h1>
    <p class="lead">Click on someone to see profile and give a cert</p>
    <a class="btn btn-lg btn-primary" href="Oleg_Malyshev" role="button">Oleg Malyshev</a>
    <a class="btn btn-lg btn-primary" href="Rodion_Pronin" role="button">Rodion Pronin</a>
    <a class="btn btn-lg btn-primary" href="Alexander_Petrov" role="button">Alexander Petrov</a>
    <a class="btn btn-lg btn-primary" href="Nikita_Kinelovsky" role="button">Nikita Kinelovsky</a>
    <a class="btn btn-lg btn-primary" href="Stepan_Bazrov" role="button">Stepan Bazrov</a>
    <a class="btn btn-lg btn-primary" href="Alexander_Volkov" role="button">Alexandr Volkov</a>
    <a class="btn btn-lg btn-primary" href="Akhmed_Khakhaev" role="button">Akhmed Khakhaev</a>
    <a class="btn btn-lg btn-primary" href="Alexey_Ischenko" role="button">Alexey Ischenko</a>
    <a class="btn btn-lg btn-primary" href="Kirill_Shvetsov" role="button">Kirill Shvetsov</a>
    <a class="btn btn-lg btn-primary" href="Vova_Bukin" role="button">Vova Bukin</a>
    <a class="btn btn-lg btn-primary" href="Danil_Kadochnikov" role="button">Danil Kadochnikov</a>
    <a class="btn btn-lg btn-primary" href="Maks_Agafonov" role="button">Maks Agafonov</a>
    <a class="btn btn-lg btn-primary" href="Rodion_Fedotov" role="button">Rodion Fedotov</a>
    <a class="btn btn-lg btn-primary" href="Daniil_Dobrin" role="button">Daniil Dobrin</a>
  </div>
<h2>{{Clown}} have certificate of the clown now</h2>
{% load static %} <img src="{% static 'images\clown2.png' %}"/>
<h3>Ha-ha, look at his funny <a href={{page}} target="_blank">vk page</a> btw *HONK-HONK* </h3>
</div>
</body>
</html>